Source: libmyperlldap-perl
Section: interpreters
Priority: optional
Build-Depends: debhelper (>= 3.0.5), perl (>= 5.6.0-17), libperlopenldap-api-perl (>=1.5-1)
Maintainer: Jan Tomasek <jan@tomasek.cz>
Standards-Version: 3.5.1

Package: libmyperlldap-perl
Architecture: all
Depends: ${perl:Depends}, libperlopenldap-api-perl (>=1.4-1)
Description:  Object oriented classes for work with LDAP
 myPerlLDAP is set of classes for work with LDAP databases. Main diference
 to other modules like Net::LDAP, Mozilla::perlLDAP and Mozilla::perlOpenLDAP
 is that it is strictly OO, you can work with it only, trought set of classes.

